{% extends "careerportal/base.html" %}

{% block title %}Job Details{% endblock %}

{% block content %}

<h1>Job Details</h1>
<p class="text-muted">View Information About this Job Opportunity</p>

<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">{{ job.title }}</h2>
        <p>
            {{ job.description}}
        </p>
        <p>
            <strong>Required Degree:</strong> {{ job.get_required_degree_display }} 
        </p>
        <p>
            <strong>Deadline:</strong> {{ job.deadline }}
        </p>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
{% endif %}

{% if request.user.is_authenticated %}
    <a href="{% url 'apply_job' job.id %}">Apply Now</a>
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to apply.</p>
{% endif %}

<br>
<a href="{% url 'job_list' %}">← Back to jobs</a>

{% endblock %}