{% extends "careerportal/base.html" %}

{% block title %}Jobs{% endblock %}

{% block content %}

<h1>Job Listings</h1>
<p class="text-muted">Browse Current Job Opportunities</p>

<form method="GET" class="mb-4">

    <label>Filter by Required Degree:</label><br>
    <select name="degree" class="form-control">
        <option value="">All Degrees</option>
        {% for value, label in degree_choices %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
    </select>

    <br>

    <label>Filter by Job Type:</label><br>
    <select name="job_type" class="form-control">
        <option value="">All Job Types</option>
        {% for value, label in job_type_choices %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
    </select>

    <br>

    <label>Filter by Pay:</label><br>
    <select name="pay_status" class="form-control">
        <option value="">Paid or Unpaid</option>
        {% for value, label in pay_choices %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
    </select>

    <br>

    <label>Filter by Location:</label><br>
    <select name="location_type" class="form-control">
        <option value="">All Locations</option>
        {% for value, label in location_type_choices %}
         <option value="{{ value }}">{{ label }}</option>
    {% endfor %}
    </select>

    <br>



    <button type="submit" class="btn btn-primary">
        Filter
    </button>

</form>

{% if is_employee %}
<a href="{% url 'post_job' %}"class="btn btn-primary mb-4">
    + Post a Job
</a>
{% endif %}

{% if jobs %}

    {% for job in jobs %}

        <div class="card mb-3 shadow-sm">
            <div class="card-body">

                <h2 class="card-title">
                    <a href="{% url 'job_detail' job.id %}">
                        {{ job.title }}
                    </a>
                </h2>

                <p class="text-muted mb-2">
                    Posted by {{ job.created_by.username }}
                </p>

                <p class="text-muted mb-1">
                    Required Degree:
                    {{ job.get_required_degree_display }}
                </p>

                <p class="text-muted mb-1">
                    Job Type:
                    {{ job.get_job_type_display }}
                </p>

                <p class="text-muted mb-1">
                    Pay:
                    {{ job.get_pay_status_display }}
                </p>

                <p class="text-muted mb-3">
                    Deadline:
                    {{ job.deadline|date:"d M Y" }}
                </p>

                <a href="{% url 'job_detail' job.id %}"
                   class="btn btn-outline-primary">
                    View Details
                </a>

            </div>
        </div>

    {% endfor %}

{% else %}

    <div class="alert alert-info">
        No jobs have been posted yet.
    </div>

{% endif %}

{% endblock %}