{% extends "careerportal/base.html" %}

{% block title %}My Applications{% endblock %}

{% block content %}
<h1>My Applications</h1>
<p class="text-muted">Track the Jobs You Have Applied For:</p>

{% if applications %}
    {% for app in applications %}
    <div class="card mb-4">
        <div class="card-body">

            <h2 class="card-title">
                <a href="{% url 'job_detail' app.job.id %}">
                    {{ app.job.title }}
                </a>
            </h2>

            <p class="text-muted">
                Applied on: {{ app.created_at|date:"d M Y" }}
            </p>

            <p>
                <strong>Status:</strong>
                {{ app.get_status_display }}
            </p>

            {% if app.cv %}
                <a href="{{ app.cv.url }}" target="_blank">
                    Download CV
                </a>
            {% endif %}

        </div>
    </div>
    {% endfor %}

{% else %}
    <div class="card mb-4">
        <div class="card-body">
            <p>You haven't applied to any jobs yet.</p>
            <a href="{% url 'job_list' %}" class="btn btn-primary">
                Browse Jobs
            </a>
        </div>
    </div>
{% endif %}

<br>

<a href="{% url 'home' %}" class="btn btn-outline-primary">
    Back to Homepage
</a>

{% endblock %}