{% extends "careerportal/base.html" %}

{% block title %}Post a Job {% endblock %}

{% block content %}

<h1>Post a New Job</h1>
<p class="text-muted">Create a new job listing for applicants to view</p>

{% if messages %}
    {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
{% endif %}

<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">Job Information</h2>

        <form method="post">
            {% csrf_token %}

            <p>
                <strong>Job Title:</strong><br>
                {{ form.title}}
            </p>
            
            <p>
                <strong>Description:</strong><br>
                {{ form.description }}
            </p>

            <p>
                <strong>Required Degree:</strong>
                {{ form.required_degree }}
            </p>

            <p>
                <strong>Deadline:</strong><br>
                {{ form.deadline }}
            </p>

            <p>
                <strong>Job Type:</strong><br>
                {{ form.job_type }}
            </p>
            
            <p>
                <strong>Pay Status:</strong><br>
                {{ form.pay_status }}
            </p>

            <p>
                <strong>Location Type:</strong><br>
                {{ form.location_type }}
            </p>
            
            <p>
                <strong>Contact Information:</strong><br>
                {{ form.contact_info }}
            </p>

            <button type="submit" class="btn btn-primary">
                Post Job 
            </button>    
        </form>

    </div>
</div>

<a href="{% url 'job_list' %}" class=""btn btn-outline-primary">
    Back to Jobs
</a>

{% endblock %}